# This file was auto-generated by Fern from our API Definition.

import datetime as dt
import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.run import Run
from ..types.run_list import RunList
from .raw_client import AsyncRawRunsClient, RawRunsClient


class RunsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawRunsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawRunsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawRunsClient
        """
        return self._raw_client

    def list_prompt_runs(
        self,
        prompt_id: str,
        *,
        start: dt.datetime,
        end: dt.datetime,
        model: typing.Optional[str] = None,
        page: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RunList:
        """
        Individual model answers behind the aggregates, newest first, without their text — the list stays small enough to page through. Fetch `GET /prompts/{promptId}/runs/{runId}` for the answer itself.

        Parameters
        ----------
        prompt_id : str

        start : dt.datetime
            Inclusive lower bound of the window, an ISO 8601 timestamp such as `2026-01-01T00:00:00Z`. A bare `YYYY-MM-DD` is rejected: that is `/prompts/{promptId}/snapshot`'s spelling and means a local calendar day there.

        end : dt.datetime
            Exclusive upper bound of the window, an ISO 8601 timestamp. The window is half-open: a run at exactly `end` is outside it.

        model : typing.Optional[str]
            Restrict to one model, e.g. `chatgpt`. See `GET /models`.

        page : typing.Optional[int]
            Page number, 1-based.

        limit : typing.Optional[int]
            Items per page. Values above the maximum are clamped, not rejected.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RunList
            List runs for a prompt

        Examples
        --------
        import datetime

        from elmohq_sdk import Elmo

        client = Elmo(
            token="YOUR_TOKEN",
        )
        client.runs.list_prompt_runs(
            prompt_id="promptId",
            start=datetime.datetime.fromisoformat(
                "2024-01-15 09:30:00+00:00",
            ),
            end=datetime.datetime.fromisoformat(
                "2024-01-15 09:30:00+00:00",
            ),
        )
        """
        _response = self._raw_client.list_prompt_runs(
            prompt_id, start=start, end=end, model=model, page=page, limit=limit, request_options=request_options
        )
        return _response.data

    def get_run(self, prompt_id: str, run_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Run:
        """
        One model answer, with its text normalized out of the provider’s response and its citations in the order the engine listed them. A run belonging to some other prompt answers `404`. The provider’s raw payload is deliberately not exposed — its shape belongs to the provider, not to this API.

        Parameters
        ----------
        prompt_id : str

        run_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Run
            Get a run

        Examples
        --------
        from elmohq_sdk import Elmo

        client = Elmo(
            token="YOUR_TOKEN",
        )
        client.runs.get_run(
            prompt_id="promptId",
            run_id="runId",
        )
        """
        _response = self._raw_client.get_run(prompt_id, run_id, request_options=request_options)
        return _response.data


class AsyncRunsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawRunsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawRunsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawRunsClient
        """
        return self._raw_client

    async def list_prompt_runs(
        self,
        prompt_id: str,
        *,
        start: dt.datetime,
        end: dt.datetime,
        model: typing.Optional[str] = None,
        page: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RunList:
        """
        Individual model answers behind the aggregates, newest first, without their text — the list stays small enough to page through. Fetch `GET /prompts/{promptId}/runs/{runId}` for the answer itself.

        Parameters
        ----------
        prompt_id : str

        start : dt.datetime
            Inclusive lower bound of the window, an ISO 8601 timestamp such as `2026-01-01T00:00:00Z`. A bare `YYYY-MM-DD` is rejected: that is `/prompts/{promptId}/snapshot`'s spelling and means a local calendar day there.

        end : dt.datetime
            Exclusive upper bound of the window, an ISO 8601 timestamp. The window is half-open: a run at exactly `end` is outside it.

        model : typing.Optional[str]
            Restrict to one model, e.g. `chatgpt`. See `GET /models`.

        page : typing.Optional[int]
            Page number, 1-based.

        limit : typing.Optional[int]
            Items per page. Values above the maximum are clamped, not rejected.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RunList
            List runs for a prompt

        Examples
        --------
        import asyncio
        import datetime

        from elmohq_sdk import AsyncElmo

        client = AsyncElmo(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.runs.list_prompt_runs(
                prompt_id="promptId",
                start=datetime.datetime.fromisoformat(
                    "2024-01-15 09:30:00+00:00",
                ),
                end=datetime.datetime.fromisoformat(
                    "2024-01-15 09:30:00+00:00",
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_prompt_runs(
            prompt_id, start=start, end=end, model=model, page=page, limit=limit, request_options=request_options
        )
        return _response.data

    async def get_run(
        self, prompt_id: str, run_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> Run:
        """
        One model answer, with its text normalized out of the provider’s response and its citations in the order the engine listed them. A run belonging to some other prompt answers `404`. The provider’s raw payload is deliberately not exposed — its shape belongs to the provider, not to this API.

        Parameters
        ----------
        prompt_id : str

        run_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Run
            Get a run

        Examples
        --------
        import asyncio

        from elmohq_sdk import AsyncElmo

        client = AsyncElmo(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.runs.get_run(
                prompt_id="promptId",
                run_id="runId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_run(prompt_id, run_id, request_options=request_options)
        return _response.data
