// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Elmo from "../../../index.js";

export declare namespace AnalyticsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Aggregated visibility, share of voice, citations, and query fan-out for a brand
 */
export class AnalyticsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AnalyticsClient.Options>;

    constructor(options: AnalyticsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Visibility, share of voice, the per-model breakdown and the citation totals for one window, in one request.
     *
     * The long lists — cited domains and URLs, sub-queries, per-prompt results — are endpoints of their own. Everything else is always included.
     *
     * @param {Elmo.GetBrandAnalyticsRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.analytics.getBrandAnalytics({
     *         brandId: "brandId",
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z"
     *     })
     */
    public getBrandAnalytics(
        request: Elmo.GetBrandAnalyticsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.BrandAnalytics> {
        return core.HttpResponsePromise.fromPromise(this.__getBrandAnalytics(request, requestOptions));
    }

    private async __getBrandAnalytics(
        request: Elmo.GetBrandAnalyticsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.BrandAnalytics>> {
        const { brandId, start, end, model, tags } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            model,
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/analytics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.BrandAnalytics, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/brands/{brandId}/analytics");
    }

    /**
     * Domains the engines cited when answering this brand's prompts, categorized and compared against the equal-length window immediately before this one.
     *
     * @param {Elmo.ListBrandCitationDomainsRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.analytics.listBrandCitationDomains({
     *         brandId: "brandId",
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z"
     *     })
     */
    public listBrandCitationDomains(
        request: Elmo.ListBrandCitationDomainsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.CitationDomainList> {
        return core.HttpResponsePromise.fromPromise(this.__listBrandCitationDomains(request, requestOptions));
    }

    private async __listBrandCitationDomains(
        request: Elmo.ListBrandCitationDomainsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.CitationDomainList>> {
        const { brandId, start, end, model, tags } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            model,
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/citations/domains`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.CitationDomainList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/brands/{brandId}/citations/domains",
        );
    }

    /**
     * Individual pages the engines cited, with their category and page type.
     *
     * @param {Elmo.ListBrandCitationUrlsRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.analytics.listBrandCitationUrls({
     *         brandId: "brandId",
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z"
     *     })
     */
    public listBrandCitationUrls(
        request: Elmo.ListBrandCitationUrlsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.CitationUrlList> {
        return core.HttpResponsePromise.fromPromise(this.__listBrandCitationUrls(request, requestOptions));
    }

    private async __listBrandCitationUrls(
        request: Elmo.ListBrandCitationUrlsRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.CitationUrlList>> {
        const { brandId, start, end, model, tags } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            model,
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/citations/urls`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.CitationUrlList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/brands/{brandId}/citations/urls",
        );
    }

    /**
     * Per-prompt mention rates over the window. The analytics counterpart to `GET /prompts?brandId=`, which returns prompt configuration rather than results.
     *
     * A prompt the brand stopped tracking is not sampled, so it has no results over the window and does not appear here.
     *
     * @param {Elmo.ListBrandPromptPerformanceRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.analytics.listBrandPromptPerformance({
     *         brandId: "brandId",
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z"
     *     })
     */
    public listBrandPromptPerformance(
        request: Elmo.ListBrandPromptPerformanceRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.PromptPerformanceList> {
        return core.HttpResponsePromise.fromPromise(this.__listBrandPromptPerformance(request, requestOptions));
    }

    private async __listBrandPromptPerformance(
        request: Elmo.ListBrandPromptPerformanceRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.PromptPerformanceList>> {
        const { brandId, start, end, model, tags } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            model,
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/prompt-performance`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.PromptPerformanceList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/brands/{brandId}/prompt-performance",
        );
    }

    /**
     * The searches engines ran while answering this brand's prompts. Engines that don't expose their searches still contribute runs, so `coverageRate` is the honest denominator.
     *
     * @param {Elmo.GetBrandQueryFanoutRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.analytics.getBrandQueryFanout({
     *         brandId: "brandId",
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z"
     *     })
     */
    public getBrandQueryFanout(
        request: Elmo.GetBrandQueryFanoutRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.BrandQueryFanout> {
        return core.HttpResponsePromise.fromPromise(this.__getBrandQueryFanout(request, requestOptions));
    }

    private async __getBrandQueryFanout(
        request: Elmo.GetBrandQueryFanoutRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.BrandQueryFanout>> {
        const { brandId, start, end, model, tags } = request;
        const _queryParams: Record<string, unknown> = {
            start,
            end,
            model,
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/query-fanout`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.BrandQueryFanout, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/brands/{brandId}/query-fanout",
        );
    }
}
