// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Elmo from "../../../index.js";

export declare namespace OpportunitiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Where a brand could win more citations, and why
 */
export class OpportunitiesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OpportunitiesClient.Options>;

    constructor(options: OpportunitiesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * **Experimental — the response shape may still change.**
     *
     * The brand's Opportunities report: a prioritized set of ways to get cited more often, with the tracked prompts and cited pages behind each one. The same analysis the dashboard shows, from the same code.
     *
     * Generation is inline and synchronous. A stored report is served while it is fresh and regenerated when it is not, so there is nothing to poll for and no way to be handed a stale one — but a request that triggers a generation waits for it. The freshness window bounds the cost: however many callers ask, one generation per brand per window. There is deliberately no `POST`, which would spend provider budget with nothing metering it per call.
     *
     * @param {Elmo.GetBrandOpportunitiesRequest} request
     * @param {OpportunitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.NotFoundError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.opportunities.getBrandOpportunities({
     *         brandId: "brandId"
     *     })
     */
    public getBrandOpportunities(
        request: Elmo.GetBrandOpportunitiesRequest,
        requestOptions?: OpportunitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.BrandOpportunities> {
        return core.HttpResponsePromise.fromPromise(this.__getBrandOpportunities(request, requestOptions));
    }

    private async __getBrandOpportunities(
        request: Elmo.GetBrandOpportunitiesRequest,
        requestOptions?: OpportunitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.BrandOpportunities>> {
        const { brandId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                `brands/${core.url.encodePathParam(brandId)}/opportunities`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.BrandOpportunities, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 404:
                    throw new Elmo.NotFoundError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/brands/{brandId}/opportunities",
        );
    }
}
