// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Elmo from "../../../index.js";

export declare namespace ToolsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * One-shot helpers (e.g. brand analysis) that don't persist anything
 */
export class ToolsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ToolsClient.Options>;

    constructor(options: ToolsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Run brand analysis without persisting anything. Returns suggested additional domains, aliases, competitors, and prompts.
     *
     * Requires an instance admin key; organization keys receive `403`.
     *
     * @param {Elmo.AnalyzeBrandRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Elmo.BadRequestError}
     * @throws {@link Elmo.UnauthorizedError}
     * @throws {@link Elmo.PaymentRequiredError}
     * @throws {@link Elmo.ForbiddenError}
     * @throws {@link Elmo.ConflictError}
     * @throws {@link Elmo.TooManyRequestsError}
     * @throws {@link Elmo.InternalServerError}
     * @throws {@link errors.ElmoError}
     * @throws {@link errors.ElmoTimeoutError}
     *
     * @example
     *     await client.tools.analyzeBrand({
     *         website: "website"
     *     })
     */
    public analyzeBrand(
        request: Elmo.AnalyzeBrandRequest,
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Elmo.OnboardingSuggestion> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeBrand(request, requestOptions));
    }

    private async __analyzeBrand(
        request: Elmo.AnalyzeBrandRequest,
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Elmo.OnboardingSuggestion>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElmoEnvironment.Default,
                "tools/analyze",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Elmo.OnboardingSuggestion, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Elmo.BadRequestError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 401:
                    throw new Elmo.UnauthorizedError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 402:
                    throw new Elmo.PaymentRequiredError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 403:
                    throw new Elmo.ForbiddenError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 409:
                    throw new Elmo.ConflictError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 429:
                    throw new Elmo.TooManyRequestsError(_response.error.body as Elmo.Error_, _response.rawResponse);
                case 500:
                    throw new Elmo.InternalServerError(_response.error.body as Elmo.Error_, _response.rawResponse);
                default:
                    throw new errors.ElmoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/tools/analyze");
    }
}
